body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #bb00cc;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 2em;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
